html{
    font-size:62.5%;
}

body {
    box-sizing:border-box;
    padding:3rem;
    background-color:#7ed56f;
}

.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}


.food-card{
    background-color:white;
    font-size:1.5rem;
    padding:2.5rem;
    text-align:center;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    border: solid;
}
.food-card-image{
    max-width:100%;
    height:auto;
    display:block;
}

