html{
    font-size:62.5%;
}

body {
    box-sizing:border-box;
    padding:1rem;
    background-color:#7ed56f;
}

.navbar{
    background-color:#777;
}


.header{
    display:inline-block;
    text-align:center;
}

.header-primary-main{
    display:block;
}

.section-foodcard{
    width:100%;
    max-width:100%;
    justify-content:center;
    display:flex;
    padding:2rem;
    height:auto;
    flex-wrap:wrap;
    
}


.col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
}


.food-card {
    background-color: white;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
    border: solid;
    box-sizing: border-box;

}
@media only screen and (max-width: 56.25em) {
    .food-card {
        padding: 2rem;
    }
}
.food-card:hover{
    transform:translateY(-0.5rem) scale(1.03);
}
.food-card-image{
    max-width:100%;
    height:auto;
    display:block;
}
@media only screen and (max-width: 56.25em) {
    .food-card-image {
        margin-bottom: 0;
    }
}

