@{
    ViewData["Title"] = "Signup";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <title>Sign-In</title>
</head>
<body>
    <div id="signInContainer">
        <div id="signInIcon">
            <i id="portalIcon" class="fa-solid fa-door-open"></i>
        </div>
        <div id="signInEmailContainer">
            <div id="usernameIconContainer">
                <i id="userIcon" class="fa-solid fa-user" style="color: #ffffff"></i>
            </div>
            <input class="loginInput" type="text" placeholder="   Email" />
        </div>
        <div id="signInPasswordContainer">
            <div id="passwordIconContainer">
                <i id="passwordIcon" class="fa-solid fa-lock" style="color: #ffffff"></i>
            </div>
            <input class="loginInput" type="password" placeholder="   Password" />
        </div>
        <div id="signInButtonContainer">
            <button id="signInButton">Create an account</button>
            <button id="signInButton">Forgot password</button>
        </div>
        <div id="signInButtonContainer">
            <button id="signInButton">Sign In</button>
        </div>
        </div?>
</body>
</html>

